.main{
  font-family: var(--common-font);
  font-weight: 700;
}

.title {
  position: absolute;
  top: 8px;
  font-size: 9px;
  left: 12px;
  color: #777773;
  z-index: 2;
  text-transform: uppercase;
}

.input {
  position: relative;
  font-size: 12px;
  width: 100%;
  background-color: var(--white-color);
  padding: 0px 10px;
  border: #B7B7B1 1px solid;
  height: 54px;
  transition: opacity .3s ease;
}

.input:focus-visible {
  outline: none;
  opacity: .9;
}