:root {
  /*Основные цвета*/
  --black-color: #0A0A0A;
  --white-color: #fff;
  --orange-color: #EF3E2F;
  --blue-color: #2147D9;
  --success-color: #16794C;
  --warn-color: #9A5C00;

  /*Шрифты*/
  --title-font: 'Space Grotesk', sans-serif;
  --title-weight: 600;
  --common-font: 'Inter', sans-serif;
  --common-weight: 400;

}
